.card__status {
  margin: 10px 0 0;

	font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.125rem;

	display: flex;
	align-items: center;

	color: #1A1B22;
}
