@import url(./__pic/message__pic.css);
@import url(./__value/message__value.css);

.message {
	/* border: 1px solid red; */
  margin: 10px auto;
  max-width: 90%;
  display: flex;

  display: grid;
  grid-template-columns: 50px auto;
  grid-gap: 16px;
}

